name: Build & Test

on:
  push:
    branches:
      - main
    paths:
      - src/**
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    # Setup
    - uses: actions/checkout@v2

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore src/IFY.Phorm.sln
    - name: Restore tools
      run: dotnet tool restore
      
    - name: Set branch-based environment variables
      uses: iamtheyammer/branch-env-vars@v1.1.2
      with:
        BUILD_CONFIG: |
          main:Release
          !default:Debug

    # Build
    - name: Build
      run: dotnet build src --configuration $BUILD_CONFIG --no-restore

    - name: Publish package
      if: github.ref == 'refs/heads/main'
      uses: nanoufo/action-upload-artifacts-and-release-assets@v2
      with:
        path: ./src/**/IFY.Phorm.*.*nupkg

    # Test & coverage
    - name: Test and coverage - IFY.Phorm
      run: dotnet coverlet ./src/IFY.Phorm.Tests/bin/$BUILD_CONFIG/net8.0/IFY.Phorm.Tests.dll --target "dotnet" --targetargs "test ./src/IFY.Phorm.Tests/IFY.Phorm.Tests.csproj --configuration $BUILD_CONFIG --no-build" --include-test-assembly --exclude-by-file "**/.nuget/**" --format lcov -o ify_phorm.lcov
    - name: Test and coverage - IFY.Phorm.SqlClient
      run: dotnet coverlet ./src/IFY.Phorm.SqlClient.Tests/bin/$BUILD_CONFIG/net8.0/IFY.Phorm.SqlClient.Tests.dll --target "dotnet" --targetargs "test ./src/IFY.Phorm.SqlClient.Tests/IFY.Phorm.SqlClient.Tests.csproj --configuration $BUILD_CONFIG --no-build" --include-test-assembly --exclude "[IFY.Phorm]*" --format lcov -o ify_phorm_sqlclient.lcov       
    - name: Report coverage to Codacy
      uses: codacy/codacy-coverage-reporter-action@v1.3.0
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: ify_phorm.lcov,ify_phorm_sqlclient.lcov

    # Mutation test
    - name: Configure Stryker.NET for IFY.Phorm
      uses: DamianReeves/write-file-action@v1.0
      with:
        path: stryker-config.json
        write-mode: overwrite
        contents: |
          {
            "stryker-config": {
              "project": "IFY.Phorm.Core.csproj",
              "test-projects": ["./src/IFY.Phorm.Tests/IFY.Phorm.Tests.csproj"],
              "project-info": {
                "name": "github.com/IFYates/Phorm",
                "module": "IFY.Phorm",
                "version": "${{ github.base_ref }}"
              },
              "reporters": ["cleartext", "html", "dashboard"]
            }
          }
    - name: Run Stryker.NET
      run: dotnet stryker --dashboard-api-key ${{ secrets.STRYKER_DASHBOARD }}
      continue-on-error: true
    - name: Configure Stryker.NET for IFY.Phorm.SqlClient
      uses: DamianReeves/write-file-action@v1.0
      with:
        path: stryker-config.json
        write-mode: overwrite
        contents: |
          {
            "stryker-config": {
              "project": "IFY.Phorm.SqlClient.csproj",
              "test-projects": ["./src/IFY.Phorm.SqlClient.Tests/IFY.Phorm.SqlClient.Tests.csproj"],
              "project-info": {
                "name": "github.com/IFYates/Phorm",
                "module": "IFY.Phorm.SqlClient",
                "version": "${{ github.base_ref }}"
              },
              "reporters": ["cleartext", "html", "dashboard"]
            }
          }
    - name: Run Stryker.NET
      run: dotnet stryker --dashboard-api-key ${{ secrets.STRYKER_DASHBOARD }}
      continue-on-error: true
    - name: Upload mutation reports
      uses: actions/upload-artifact@v4
      with:
        name: mutation-report.html
        path: ./**/mutation-report.html
